.App {
  text-align: center;
  color: white;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.container-fluid{
 
  padding: 0;
  text-align: center;
 }

 .row{
  margin-right:0!important;
  margin-left:0!important;
}
.App-link {
  color: #61dafb;
}
.section-1-img{
  margin-top:5.5rem;
  width:50rem;
}
.text-container{
  text-align: right;
  margin-top: 9rem;
}
.conversion-input-card {
  max-width: 400px; /* Restrict the width of the card */
  margin: 0 auto; /* Center the card horizontally */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a slight shadow for visual appeal */
  border-radius: 8px; /* Rounded corners for a modern look */
}

/* text-shadow: 2px 2px 5px red; */
#Header{
color: #188977;
font-size: 75px;
font-weight: bold;

}
#Sub-Header{
  color:#1D9A6C;
  font-size: 50px;
  font-weight: bold;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media(max-width:768px){
  .section-1-img{
        margin-top: 1rem;

    width:30rem;
  }
  .text-container{
    text-align: left;
    margin-top:1rem
  }
}
@media(max-width:1280px){
  .text-container{

    margin-top:1rem
  }
}